.env
/node_modules

## backend
/backend/user/.env
/backend/user/coverage
/backend/user/node_modules
/backend/user/package-lock.json
/backend/user/logs
/backend/user/*.log
/backend/user/npm-debug.log*
/backend/user/yarn-debug.log*
/backend/user/yarn-error.log*
/backend/user/pnpm-debug.log*
/backend/user/lerna-debug.log*
/backend/user/dist
/backend/user/dist-ssr
/backend/user/*.local
/backend/user/.vscode/*
/backend/user/!.vscode/extensions.json
/backend/user/.idea
/backend/user/.DS_Store
/backend/user/*.suo
/backend/user/*.ntvs*
/backend/user/*.njsproj
/backend/user/*.sln
/backend/user/*.sw?

## frontend
/frontend/user/.env
/frontend/user/coverage
/frontend/user/node_modules
/frontend/user/package-lock.json
/frontend/user/logs
/frontend/user/*.log
/frontend/user/npm-debug.log*
/frontend/user/yarn-debug.log*
/frontend/user/yarn-error.log*
/frontend/user/pnpm-debug.log*
/frontend/user/lerna-debug.log*
/frontend/user/dist
/frontend/user/dist-ssr
/frontend/user/*.local
/frontend/user/.vscode/*
/frontend/user/!.vscode/extensions.json
/frontend/user/.idea
/frontend/user/.DS_Store
/frontend/user/*.suo
/frontend/user/*.ntvs*
/frontend/user/*.njsproj
/frontend/user/*.sln
/frontend/user/*.sw?